[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = api.sgummalla.net
DNS.2 = mtls-api.fly.dev
DNS.3 = localhost